body {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin: 0;
}

.nentitulli {
  max-width: 30rem;
  margin: 0 auto;
}

.label {
  display: block;
  padding-bottom: 0.5rem;
}

.input {
  display: block;
  margin: 0 auto;
  height: 2.5rem;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  width: 10rem;
}

.mbeshtjellesi {
  background: #f4f4ff;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
}

.butonat {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

button {
  background: #6a5acd;
  color: #fff;
  border-radius: 0.75rem;
  height: 2.5rem;
  width: 10rem;
}

button:hover {
  background: #463b90;
}

.rezultati {
  background: #fff;
  border-radius: 0.75rem;
  padding: 0.5rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}